[Desktop Entry]
Name=Reboot
Comment=Close all applications and reboot machine
Exec=systemctl reboot
Icon=system-reboot
Terminal=false
Type=Application
Categories=System;
