[Desktop Entry]
Name=Hibernate
Comment=Suspend system to Disk
Exec=systemctl hibernate
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;
